mixin footer(path)
  footer.footer-main
    .container
      .flex
        .brand-footer
          include ../includes/_logo-white.pug
        .social-footer
          h3 On est aussi sur
          include ../includes/_social-icons.pug

      .flex
        .footer-column
          h4 Nos Cours
          ul.footer-links.list-unstyled
            li
              a(href=path+"nos-workshops.html" target="_blank") Nos workshops
            li
              a(href=path+"shuttle-on-demand" target="_blank") Shuttle Coder On Demand
            li
              a(href=path+"nos-formations-complètes.html" target="_blank") Nos formations complètes
            li
              a(href=path+"pages/faq.html") FAQ
        .footer-column
          h4 Dans votre ville
          ul.footer-links.list-unstyled
        .footer-column
          h4 Qui sommes-nous ?
          ul.footer-links.list-unstyled
            li
              a(href=path+"a-propos.html" target="_blank") Shuttle Coder, c'est quoi ?
            li
              a(href=path+"l-equipage.html" target="_blank") L'équipage
            li
              a(href="//shop.shuttlecoder.com" target="_blank") Notre boutique
  .footer-bottom
    .container
      .row.row-copyright
        .col-xs-6
          p.copyright
            span © 2017 Shuttle Coder Academy
            //-i.fa.fa-ellipsis-v
            //-a(href=path+"mentions-legales.html" title="") mentions légales
        .col-xs-6
          p.text-right.with-love
            span Made with
            i.fa.fa-heart
            span in Paris
