mixin navigation(path)
  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a(class="navbar-brand" href="/index.html")
          include ../includes/_logo-color.pug

      <!-- Collect the nav links, forms, and other content for toggling -->
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.navbar-right
          li
            a(href=path+"/a-propos.html") à propos
          li
            a(href=path+"/l-equipage.html") l'équipage
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Nos Formations <span class="caret"></span>
            ul.dropdown-menu
              li.dropdown-header
                span Nos Workshops (présentiel)
              li
                a(href=path+"workshops/creer-votre-premier-site-web.html") Créer son premier site web
              li.disabled
                a(href=path) Docker
              li
                a(href=path+"workshops/construire-rapidement-son-prototype.html") Construire rapidement son prototype
              li(role="separator" class="divider")
              li.dropdown-header
                span Nos Formations (présentiel)
              li.disabled
                a(href=path) Code ta Startup (9 semaines)
              li.disabled
                a(href=path) Crée ton appli iPhone (9 semaines)
              li(role="separator" class="divider")
              li.dropdown-header
                span En ligne (Vidéos)
              li.disabled
                a(href=path) iOS 10, Swift 3 - De parfait débutant à professionnel
